<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717563077465-jmlr83qat8urbikkmforgbq14mf6jes1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717563077465-jmlr83qat8urbikkmforgbq14mf6jes1</string>
	<key>API_KEY</key>
	<string>AIzaSyAZHHHUdlkdA2ijhw_4X5JhW_rP8EdtGDU</string>
	<key>GCM_SENDER_ID</key>
	<string>717563077465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stalwart.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-33cdc</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-33cdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717563077465:ios:7079f7b4314b0cd0aca248</string>
</dict>
</plist>